In [2]:
import pandas as pd
import requests
import numpy as np

In [3]:
df=pd.read_excel("D:\programming\codoptrHackathon\data.xlsx")

In [4]:
df['Discount']=df['Discount'].fillna(0)
print(df.head)

<bound method NDFrame.head of                     Product Name  Price  Discount Category
0    Kissan Orange Marmalade Jam  180.0      0.06     Jams
1               Kissan Mango Jam   85.0      0.13     Jams
2         Kissan Mixed Fruit Jam   70.0      0.01     Jams
3    Kissan Fresh Tomato Ketchup  138.0      0.17  Ketchup
4    Kissan Fresh Tomato Ketchup   15.0      0.00  Ketchup
..                           ...    ...       ...      ...
253           GANESH CHANA SATTU   33.0      0.03    Sattu
254                 GANESH SOOJI   13.0      0.08    Sooji
255           GANESH MATAR BESAN   23.0      0.03    Besan
256                 GANESH MAIDA   29.0      0.02    Maida
257                  GANESH ATTA   44.0      0.02     Atta

[258 rows x 4 columns]>

In [5]:
df['Discount']=df['Discount'].fillna(0)

In [6]:
df['price_range'] = np.nan

In [7]:
df.loc[df['Price'] <= 50, 'price_range'] = 0
df.loc[(df['Price'] > 50) & (df['Price'] <= 150), 'price_range'] = 1
df.loc[df['Price'] > 150, 'price_range'] = 2

In [8]:
df.to_excel("updatedDataset.xlsx")

In [9]:
df.shape

(258, 5)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  258 non-null    object
 1   Price         258 non-null    float64
 2   Discount      258 non-null    float64
 3   Category      258 non-null    object
 4   price_range   258 non-null    float64
dtypes: float64(3), object(2)
memory usage: 10.2+ KB

In [11]:
df['Category'].value_counts()

Vegetables     48
Masala         25
Fruits         24
Spices         22
Chips          14
Oil            11
Rice           10
Nuts            8
Lotion          7
Noodles         6
Biscuits        6
Face Wash       6
Toothpaste      6
Dates           5
Chocolate       5
Hair Oil        4
Baking          4
Flour           4
Cakes           4
Soap            3
Ketchup         3
Atta            3
Detergents      3
Jams            3
Body Lotion     2
Dal             2
Besan           2
Papad           2
Sattu           1
Dalia           1
Vermicelli      1
Salt            1
Sugar           1
Sooji           1
Glycerine       1
Soya            1
Ghee            1
Tea             1
Dairy           1
Milk            1
Jelly           1
Dishwash        1
Crackers        1
Maida           1
Name: Category, dtype: int64

In [12]:
df.isnull().sum()

Product Name    0
Price           0
Discount        0
Category        0
price_range     0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
features = ['Price', 'Discount', 'Category']
X = df[features]

In [16]:
X = pd.get_dummies(X, columns=['Category'])

In [17]:
item_similarity = cosine_similarity(X)

In [18]:
item_similarity_df = pd.DataFrame(item_similarity, index=df['Product Name'], columns=df['Product Name'])

In [19]:


# Function to get the top k similar items for a given item
def get_similar_items(item_name, k=10):
    # Get the row corresponding to the given item
    item_row = item_similarity_df.loc[item_name]
    
    # Get the top k similar items
    top_k = item_row.sort_values(ascending=False).head(k+1)
    
    # Remove the given item from the list of similar items
    top_k = top_k[top_k.index != item_name]
    
    return top_k

In [23]:
item_in_cart="Bingo Tedhe Medhe"
similar_items = get_similar_items(item_in_cart, k=3)
print("Other items you may consider with ",item_in_cart,"are :")
print(similar_items)

Other items you may consider with  Bingo Tedhe Medhe are :
Product Name
Bingo! Mad Angles Achaari Masti     1.0
Bingo! Mad Angles Masala Madness    1.0
Lays Spanish Tomato Tango           1.0
Name: Bingo Tedhe Medhe, dtype: float64